html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

button {
  border: 5px solid white;
  border-radius: 50%;
  background: #ee6208;
  bottom: -60px;
  color: white;
  display: block;
  font-size: 30px;
  font-weight: 900;
  height: 120px;
  left: 40px;
  margin-top: 30px;
  outline: none;
  padding: 4px 2px;
  position: absolute;
  width: 120px;
}

h1 {
  border: 5px solid white;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  line-height: 1em;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 120px 25px 20px 10px;
  position: relative;
  text-align: center;
  top: -35px;
  width: 100%;
}

.background-ball {
  background: #ee6208;
  border-radius: 50%;
  bottom: 0;
  left: 100%;
  opacity: 1;
  position: fixed;
  right: 0;
  top: -50%;
  transition: width .5s ease-out, height .5s ease-out,
    left .5s ease-out, top .5s ease-out;
  width: 100%;
  height: 200%;
  z-index: 2;
}

.background-ball.dropped {
  width: 100px;
  height: 100px;
  top: 600px;
  left: 500px;
}

.goal {
  background: #ee6208;
  color: white;
  margin: 20px auto;
  padding: 20px 25px;
  position: fixed;
}

.goal-title {
  font-family: "Kaushan Script", cursive;
  font-size: 55px;
  padding-right: 25px;
  text-align: center;
}

.goal-description {
  font-size: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

.hint {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0 10px 0;
  padding-top: 2px;
}

.level, .shots {
  display: inline-block;
  width: 49%;
}

.level.playing, .shots.playing {
  bottom: 15px;
  color: #ee6208;
  font-size: 15px;
  left: 30px;
  position: fixed;
  text-align: left;
}

.level.playing {
  bottom: 35px;
}

.shots {
  text-align: right;
}

.menu {
  background: transparent;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .5s, visibility .5s; 
  z-index: 3;
}

.fade {
  opacity: 0;
  visibility: hidden;
}

.menu-body {
  border-bottom: 5px solid white;
  color: white;
  margin: 0px auto 100px auto;
  max-width: 200px;
  padding: 30px 0px 95px 0px;
  position: relative;
  width: 90%;
}