html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

button {
  border: 5px solid white;
  border-radius: 50%;
  background: #ee6208;
  bottom: -60px;
  color: white;
  display: block;
  font-size: 30px;
  font-weight: 900;
  height: 120px;
  left: 40px;
  margin-top: 30px;
  padding: 4px 2px;
  position: absolute;
  width: 120px;
}

h1 {
  border: 5px solid white;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  line-height: 1em;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 120px 25px 20px 10px;
  position: relative;
  text-align: center;
  top: -35px;
  width: 100%;
}

.hidden {
  display: none;
}

.hint {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

.level, .shots {
  display: inline-block;
  width: 49%;
}

.shots {
  text-align: right;
}

.menu {
  background: #ee6208;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.menu-body {
  border-bottom: 5px solid white;
  color: white;
  margin: 0px auto 100px auto;
  max-width: 200px;
  padding: 30px 0px 95px 0px;
  position: relative;
  width: 90%;
}